/*Master elements*/

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #F3E5D7;
    margin: 0;
    justify-content: center;
    font-family: "Outfit", system-ui, sans-serif;
}

html, body {
    min-height: 100dvh;
}

/*Header Elements*/

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
}

h1 {
    font-size: 40px;
    color: #312E2C;
    margin: 0;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 28px;
    color: #854632;
}

h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #7A284E;
    margin-bottom: 10px;
}

/*Base elements*/

li, p {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
}

li {
    margin: 10px 0;
}

ul li::marker {
  color: #7A284E;
}

ol li::marker {
    font-weight: bold;
    color: #854632;
}

hr {
    width: 100%;
}

p {
    margin: 0px;
}

table { 
    border-collapse: collapse; 
    width: 100%;
}

td, th {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 100%;
    letter-spacing: 0px;
    padding-left: 1.5em;
}

th {
    text-align: left;
}

td {
    font-size: 20px;
    padding: 1em 0;
}

tr {
    border-bottom: 1px solid #F3E5D7;
}

tr:last-child {
  border-bottom: none;
}

/*Components*/

.header-img{
    width: calc(100% + 80px);
    margin: -40px -40px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: auto;
    justify-self:center;
}

.main-content {
    display: grid;
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 8px;
}

.main-content__preparation-info {
    background-color: #FFF7FB;
    padding-left: 1em;
    border-radius: 1em;
}

.main-content__overview {
    margin-top: 40px;
    margin-bottom: 2em;
}

.nutrition__calories {
    color: #854632;
    font-weight: bold;
}

/* Media Queries */

@media (width < 600px)
{   
    body{
        background-color: #FFFFFF;
    }
    .main-content {
        min-height: 100dvh;
    }
}

@media (width >= 600px) {
   .main-content{
        margin: auto;
        width: min(92vw, 600px);
        padding: 3em;
        margin-top: 1em;
        margin-bottom: 1em;
   }

   .header-img {
        margin: 0;
        width: 100%; 
        border-radius: 8px;       
   }
}